/* * {
    border: 1px solid #0044ff;
} */

/* ============================================================================================ //
// ============================================================================================ //
// FONTS /////
// ============================================================================================ //
// ============================================================================================ */

/* BASIER SQUARE REGULAR */
@font-face {
    font-family: 'Basier Square Regular';
    src: url('../fonts/basier-square-regular.eot');
    src: url('../fonts/basier-square-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basier-square-regular.woff2') format('woff2'),
         url('../fonts/basier-square-regular.woff') format('woff'),
         url('../fonts/basier-square-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* BASIER SQUARE MEDIUM */
@font-face {
    font-family: 'Basier Square Medium';
    src: url('../fonts/basier-square-medium.eot');
    src: url('../fonts/basier-square-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basier-square-medium.woff2') format('woff2'),
         url('../fonts/basier-square-medium.woff') format('woff'),
         url('../fonts/basier-square-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* BASIER SQUARE SEMIBOLD */
@font-face {
    font-family: 'Basier Square Semibold';
    src: url('../fonts/basier-square-semibold.eot');
    src: url('../fonts/basier-square-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basier-square-semibold.woff2') format('woff2'),
         url('../fonts/basier-square-semibold.woff') format('woff'),
         url('../fonts/basier-square-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* BASIER SQUARE BOLD */
@font-face {
    font-family: 'Basier Square Bold';
    src: url('../fonts/basier-square-bold.eot');
    src: url('../fonts/basier-square-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/basier-square-bold.woff2') format('woff2'),
         url('../fonts/basier-square-bold.woff') format('woff'),
         url('../fonts/basier-square-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
    
h1, h2 {
    font-family: "Basier Square Bold";
    text-transform: lowercase;
    color: #000000;
}

h3, h4 {
    margin-bottom: -5px;
    font-family: "Basier Square Semibold";
    text-transform: lowercase;
    color: #000000;
}

h1 {
    order: 1;
    font-size: 8rem;
    line-height: 6rem;
    letter-spacing: -7px;
    text-align: left;   
    padding: -50px;  
}

h2 {
    font-size: 5rem;
    line-height: 5.5rem;
    letter-spacing: -2px;
}

h3 {    
    font-size: 2rem;
    line-height: 2rem;
    letter-spacing: -2px;
    text-align: center;
    width: 50;
}

h4 {
    font-size: 2.5rem;
    line-height: 2rem;
    text-align: center;
}

/* ============================================================================================ //
// ============================================================================================ //
// 1600+ PX ///// HEADER // CONTAINS APPLICATION LOGO & LOCATION INPUTS
// ============================================================================================ //
// ============================================================================================ */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: -50px auto;
}

    #header-container {
        order: 1;
    }

    .location-input {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
    }
    
input {
    width: 100%;
    margin: 20 auto;
    height: 75px;
    border: none;
    border-bottom: 5px solid #000000;
    outline: 0;
    background-color: rgb(0, 0, 0, 0.0);
    font-family: "Basier Square Regular";
    font-size: 2rem;
    line-height: 1rem;
    text-align: left;
    color: #000000;
}
    
    ::placeholder {
        font-family: "Basier Square Regular";
        font-size: 2rem;
        letter-spacing: -1px;
        color: rgb(0, 0, 0, 0.4);
    }

    /* Code for disappearing placeholder
    retrieved fromm Stanhub:
    https://stanhub.com/how-to-remove-the-placeholder-on-focus-css-only/ */
    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; }
    /* End code retrieval */    
    
    #lets-go {
        order: 3;
        margin: 35px 0;
        width: 125px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        outline: 0;
        border: 3px solid #000000;
        background-color: #00ff99;
        font-family: "Basier Square Semibold";
        font-size: 1rem;
        line-height: 2rem;        
    }

    #lets-go:hover {
        background-color: #ffba00;
    }
    
    #button-cities-icon {
        width: 35px;
        height: 35px;
        filter: invert(100%);
        transform: rotate(180deg)
    }

/* ============================================================================================ //
// ============================================================================================ //
// 1600+ PX ///// MAIN // CONTAINS LEFT AND RIGHT ARROWS & FORECAST CAROUSEL
// ============================================================================================ //
// ============================================================================================ */
    
main {
    width: 100%;
    height: 450px;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;;
    align-items: center;   
    background-color: #e7e7e7; 
}
    
    .nav-arrow {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .nav-arrow > p {
        font-family: "Basier Square Semibold";
        font-size: 1.75rem;
        color: #000000;
    }
    
    #left-arrow {
        width: 75px;
        height: 75px;
        filter: invert(100%)
    }
    
    #nav-arrow-next {
        width: 75px;
        height: 75px;
        filter: invert(100%);
        transform: rotate(180deg)
    }

    /* ========== WEATHER REPORTS */
    #current-reports {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    .forecast {
        margin: 0 20%;
        text-align: center;
    }


        #sky-conditions {
            order: 1;
            width: 20%;
        }

        .report-text {
            order: 2;
        }

        
    
        /* selecting all images in the carousel class */
        #current-reports div {
        display: none;
      }
      
      /* shows only the first type whatever you select */
      #current-reports div:first-of-type {
        display: inline-block;
      }
    
/* ============================================================================================ //
// ============================================================================================ //
// 1600+ PX ///// FOOTER
// ============================================================================================ //
// ============================================================================================ */
    
    footer.general {
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 20px 0;
        background-color: #000000;
        font-family: "Basier Square Regular";
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        color: #eeeeee;
    }      
    
    footer.phone {
        width: 100%;
        position: fixed;
        bottom: 0;
        padding: 20px 0;
        background-color: #000000;
        font-family: "Basier Square Regular";
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        color: #eeeeee;
        display: none;
    }

/* this web app was made with determination and a mac.
keep calm and clear or mostly sunny. */

@media screen and (max-width: 1355px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    h1 {
        font-size: 5rem;
        line-height: 4rem;
    }

    footer {
        display: none;
    }

    main {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}